     .calc
    {
    	background-color:#1BF1E4;
    	width:495px;
    	height:555px;
    	margin:auto;
		padding-top: 47px;
		border-radius: 2%;
    }

	.element {
		background-color:#1182EB;
    	width:60px;
    	height:62px;
		margin: 26px;
    	float: left;
    	font-size:38px;
		border-radius: 90%;
		border: none;
	}

	.start-of-row {
		margin-left: 52px;
	}

	output {
		display: flex;
		justify-content:space-between;
		align-items: start;
		width: 399px;
		height: 54px;
		background: #6469DC;
		margin: 10px auto;
		border-radius: 5px;
		font-size: 1.4em;
		text-align: right;
		
		/* box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3),
		  inset -1px -1px 1px rgba(0, 0, 0, 0.3); */
	  }

	  .clear {
		font-size: 24px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: #FFF;
		margin: 9px
	  }
	
	.result {
		font-size: 38px;
		font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
		color: #FFF;
		margin-right: 9px;
		max-width: 16ch;
		overflow-x: auto;
	}